name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout TTF sources
      uses: actions/checkout@v6
    - name: Update Build Environment
      run: sudo apt-get update --fix-missing -y
    - name: Install Prerequisites
      run: sudo apt-get install -y cppcheck zlib1g-dev
    - name: Configure TTF
      run: ./configure --enable-debug --enable-sanitizer --enable-maintainer
    - name: Build TTF
      run: make
    - name: Test TTF
      env:
        ASAN_OPTIONS: leak_check_at_exit=false
      run: make test
    - name: clang static analyzer
      run: make CC=clang "GHA_ERROR=::error::" clang
    - name: cppcheck
      run: make "GHA_ERROR=::error::" cppcheck

  build-macos:

    runs-on: macos-latest

    steps:
    - name: Checkout TTF sources
      uses: actions/checkout@v6
    - name: Configure TTF
      run: ./configure --enable-debug --enable-sanitizer --enable-maintainer
    - name: Build TTF
      run: make
    - name: Test TTF
      run: make test
    - name: clang static analyzer
      run: make CC=clang "GHA_ERROR=::error::" clang
